@model ApplicationUW.Models.ResultQueryList

@{
    int rows = @Model.Rows.Count() / 3;
    int columns = @Model.Columns.Count();
}
<h4>Rezultai i kerkimit</h4>

<table id="tblShowResult" class="display">
    <thead>
        <tr>
            @for (int i = 0; i < columns; i++)
            {
                <th>@Model.Columns[i]</th>
            }
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < rows; i++)
        {
            <tr>
                @for (int j = 0; j < columns; j++)
                {
                    <td>@Model.Rows.ElementAt(i * columns + j)</td>
                }
            </tr>
        }
    </tbody>
</table>